<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 현재 화면에서만 사용하는 css -->
<!--<th:block layout:fragment="css">-->
<!--  <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--</th:block>-->

<!-- 현재 화면에서만 사용하는 js -->
<!--<th:block layout:fragment="script">-->
<!--  <script th:src="@{/js/script.js}"></script>-->
<!--</th:block>-->

<body>
<div layout:fragment="content">

</div>
</body>
</html>