<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/grow-demon-slime.css}">
</th:block>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
  <script th:src="@{/js/spec-analysis.js}"></script>
</th:block>

<body>
<div layout:fragment="content" >
    <div class="specContent">
        <div class="w-20" id="spec-container">상세스펙(유물 안낀 기준 입력)</div>
        <div class="w-20" id="skill-container">스킬</div>
        <div class="w-20" id="familiar-container">사역마</div>
        <!-- 아래꺼 만들기 -->
        <div class="w-20" id="relics-container">유물 별 DPS 증가량 (최대 레벨 기준)</div>
    </div>
    <div>
        <div class="w-50">
            유물 Set DPS
            <button id="relics-dps-button" class="btn-purple">계산</button>
            <div id="relicsDPS-container"></div>
        </div>
    </div>
</div>
</body>
</html>