<!DOCTYPE html>
<html lang="ko">

<!-- 현재 화면에서만 사용하는 css -->
<head>
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/fixedColumns.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/grow-demon-slime.css}">
</head>

<!-- 현재 화면에서만 사용하는 js -->
<script th:src="@{/js/dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script th:src="@{/js/fixedColumns.bootstrap5.min.js}"></script>
<script th:src="@{/js/content/grow-demon-slime/grow-demon-slime.js}"></script>
<script>
    $(document).ready(function() {
        initializeData('cooldown-stage');
    });
</script>

<body>
<div class="container">
    <div class="h1 mt-3">
        쿨타임 별 보스 스테이지(20초 기준) 스킬 타격 횟수
    </div>
    <div id="alertMessage" class="mb-3">
        * 기본 쿨타임감소 10% 부터 60% 까지 쿨타임감소가 0.01% 늘어날때 마다 타수가 변경 되는 지점을 계산합니다.
    </div>
    <table id="datatables_20" class="table table-striped table-bordered datatables" style="width:100%">
        <thead>
        <tr class="header-row">
            <th>cooldown</th>
            <th>5a</th>
            <th>5b</th>
            <th>5c</th>
            <th>6a</th>
            <th>6b</th>
            <th>6c</th>
            <th>7a</th>
            <th>7b</th>
            <th>7c</th>
        </tr>
        </thead>
        <tbody>
        <!-- 데이터가 여기에 추가됩니다 -->
        </tbody>
    </table>
    <div class="h1 mt-3">
        쿨타임 별 보스 스테이지(30초 기준) 스킬 타격 횟수
    </div>
    <table id="datatables_30" class="table table-striped table-bordered datatables" style="width:100%">
        <thead>
        <tr class="header-row">
            <th>cooldown</th>
            <th>5a</th>
            <th>5b</th>
            <th>5c</th>
            <th>6a</th>
            <th>6b</th>
            <th>6c</th>
            <th>7a</th>
            <th>7b</th>
            <th>7c</th>
        </tr>
        </thead>
        <tbody>
        <!-- 데이터가 여기에 추가됩니다 -->
        </tbody>
    </table>
</div>
</body>
</html>