<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar">
    <div class="container flex-space-between">
        <a class="brand" href="/">
            <img class="brand-logo" src="">
        </a>
        <button class="navbar-toggler" type="button">
            <div class="navbar-toggler-icon"></div>
        </button>
        <div class="offcanvas">
            <div class="offcanvas-header">
                <a class="brand" href="/">
                    <img class="brand-logo">
                </a>
                <button type="button" class="btn-close" aria-label="Close">&times;</button>
            </div>
            <div class="offcanvas-body">
                <ul id="dynamicCategories"></ul>
            </div>
            <div class="flex-center">
                <button th:if="${session.isLoggedIn}" onclick="logout()" class="btn btn-light me-2">로그아웃</button>
                <button th:if="${session.isLoggedIn}" onclick="navigateToPage('info')" class="btn">내정보</button>
                <button th:unless="${session.isLoggedIn}" onclick="navigateToPage('login')" class="btn btn-light me-2">로그인</button>
                <button th:unless="${session.isLoggedIn}" onclick="navigateToPage('register')" class="btn">회원 가입</button>

            </div>
        </div>
    </div>

    <div class="offcanvas-backdrop">
    </div>
</nav>
</body>
</html>